<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to "ログイン", new_user_session_path, class: "button is-warning is-light" %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-warning is-light" %>
<%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-light" %>
<%= link_to "投稿者一覧", users_path, class: "button is-warning is-light" %>