<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       予約済みルーム一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
         <div class="card">
          <div class="card-image">
            <div class="content">
              <table class="table is-narrow">
                <thead>
                  <tr align="center">
                    <th>ルーム画像</th>
                    <th>ルーム名<br>予約詳細</th>
                    <th>ルーム紹介</th>
                  </tr>
                </thead>
                <div>
                <% @rooms.each do |room| %>
                  <tr align="center">
                    <td><figure class="image is-4by3">
           　              <%= attachment_image_tag room, :image %>
                        </figure></td>
                    <td width="150"><%= link_to room.title, check_path(@room) %></td>
                    <td width="150"><%= room.body %></td>
                  </tr>
                <% end %>
                </div>
              </table>
            </div>
            <div>
              <ul>
                <li><%= link_to "マイページに戻る", user_path(current_user.id), class: "return_to_top" %></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>